.Burger {
  margin:auto;
  padding:20px;
  min-width: 344px;
  width: 344px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 950px) {
  .Burger {
    min-width: 500px;
    width: 500px;
  }
}

