.Burger {
  margin:auto;
  padding:10px;
  width: 360px;
  height: 360px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 600px;
    height: 600px;
  }
}

