.SideDrawler {
  position: fixed;
  width: 200px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1010;
  background-color: #df4f16;
  color: #ffffff;
  box-shadow: 0 0 5px #000000;
  padding: 0;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width:500px) {
  .SideDrawler {
    display: none;
  }
}

.CloseIcon {
  margin:4px 12px 18px;
  width: 40px;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}