img {
  width: 100%;
}

.BreadBottom {
  width: 100%;
  overflow: visible;
}

.BreadTop {
  width: 100%;
  height: 150px;
  overflow: visible;
}

.Meat {
  width: 100%;
  overflow: visible;
  height: 55px;
  transform: translateY(-10px);
}

.Cheese {
width: 100%;
overflow: visible;
height: 10px;
transform: translateY(25px);
}


.Salad {
  width: 100%;
  overflow: visible;
  height: 10px;
  transform: translateY(15px);
}

.Tomato {
  width: 100%;
  overflow: visible;
  height: 40px;
}