img {
  width: 100%;
  overflow: visible;
  
}

.BreadBottom {
  width: 100%;
}

.BreadTop {
  height: 91px;
}

.Meat {
  height: 38px;
  transform: translateY(-7px);
}

.Cheese {
  height: 7px;
  transform: translateY(17px);
}


.Salad {
  height: 7px;
  transform: translateY(10px);
}

.Tomato {
  height: 28px;
}

@media (min-width: 950px) {
  .BreadBottom {
    width: 100%;
  }

  .BreadTop {
    height: 130px;
  }

  .Meat {
    height: 55px;
    transform: translateY(-10px);
  }

  .Cheese {
  height: 10px;
  transform: translateY(25px);
  }


  .Salad {
    height: 10px;
    transform: translateY(15px);
  }

  .Tomato {
    height: 40px;
  }
}