.Header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  padding: 0 20px;
  box-sizing: border-box;
  z-index: 120;
  background-color: #df4f16;
  color: #ffffff;
  box-shadow: 0 0 5px #000000;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin:auto;
}

.HamburgerMenu{
  width: 40px;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}

@media (min-width: 500px) {
  .MobileOnly {
    display: none;
  }
}